* { margin:0; padding:0; box-sizing:border-box; }

body {
  background:black;
  color:white;
  font-family:Segoe UI, sans-serif;
  overflow-x:hidden;
}

/* CANVAS */
#bg-waves,#gold-particles{
  position:fixed;
  inset:0;
  z-index:-3;
}

/* NEVOA */
body::before{
  content:"";
  position:fixed;
  inset:0;
  z-index:-2;
  pointer-events:none;
  background:
    radial-gradient(circle at top, rgba(120,180,255,.3), transparent 60%),
    radial-gradient(circle at bottom, rgba(120,180,255,.3), transparent 60%),
    radial-gradient(circle at left, rgba(120,180,255,.3), transparent 60%),
    radial-gradient(circle at right, rgba(120,180,255,.3), transparent 60%);
}

header{text-align:center;padding:25px}
.logo{
  width:130px;
  border-radius:50%;
  border:3px solid gold;
  box-shadow:0 0 25px gold;
  animation:glow 3s infinite;
}

nav{
  display:flex;
  justify-content:center;
  gap:15px;
}

nav button{
  background:transparent;
  border:2px solid gold;
  color:gold;
  padding:12px 25px;
  border-radius:30px;
  cursor:pointer;
}

nav button:hover{
  background:gold;
  color:black;
  box-shadow:0 0 15px gold;
}

.aba{
  display:none;
  margin:30px auto;
  max-width:420px;
  padding:25px;
  background:rgba(0,0,0,.65);
  border-radius:20px;
  border:2px solid gold;
}

.aba.ativa{display:block}

input,select{
  width:100%;
  margin:8px 0;
  padding:12px;
  border-radius:10px;
  border:1px solid gold;
  background:black;
  color:white;
}

.brilho{
  width:100%;
  margin-top:10px;
  padding:14px;
  border:none;
  border-radius:30px;
  background:linear-gradient(90deg,gold,#ffd27d,gold);
  color:black;
  font-weight:bold;
  cursor:pointer;
  animation:glow 2s infinite;
}

@keyframes glow{
  0%{box-shadow:0 0 10px gold}
  50%{box-shadow:0 0 30px gold}
  100%{box-shadow:0 0 10px gold}
}
